@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: aliceblue;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

p,
.text-open-sans {
  font-family: "Open Sans", sans-serif;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  will-change: transform;
  padding-right: 20px;
}

.embla__slide {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 1024px) {
  .embla__slide {
    min-width: 25%; /* 4 slides visíveis em telas grandes */
  }
}

@media (max-width: 640px) {
  .embla__slide {
    min-width: 100%; /* Exibir apenas 1 slide em telas menores */
    padding: 8px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .embla__slide {
    min-width: 50%; /* Exibir 2 slides em tablets */
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .embla__slide {
    min-width: 50%; /* 2 slides visíveis em tablets */
  }
}

@media (max-width: 767px) {
  .embla__slide {
    min-width: 100%; /* 1 slide visível em celulares */
  }
}

.embla__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.embla__button--prev {
  left: 10px;
}

.embla__button--next {
  right: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
